body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('a-charlie-brown-christmas-1965-1080p-bluray-x264-cinefile-mkv_snapshot_09-53_2010-12-21_23-12-21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid red;
  border-radius:40px;
  position:absolute;
}
.trump{
  width: 389px;
  height: 479px;
  border: 0;
  background-image: url("TrumpTriumphant.gif");
}

.another{
  border:20px solid green;
  border-radius: 0px;
}
